html, body{
    background-color: black !important;
    color: white !important;
}
#a{
    list-style-type: square;
    text-align: justify;
}
.b{
    text-decoration: none;
    color: aqua;
}
.b:visited{
    color: chartreuse;
}
.b:link{
    color: aqua;
}
.b:hover{
    color: blueviolet;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-style: italic;
    text-align: justify;
    
}
#c{
    text-decoration: line-through dotted;
}